# ~/.gitconfig
# by @KristobalJunta

[user]
	name = Kristobal
	email = junta.kristobal@gmail.com
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	t = tag
	deploy = push live master
	unstage = reset HEAD --
	all = add .
[commit]
	gpgsign = true
